<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Все пользователи </h1>
<br>
<table>
    <tr><th>Id</th><th>Name</th><th>Last name</th><th>Age</th><th>Actions</th></tr>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getLastName()}"></td>
            <td th:text="${user.getAge()}"></td>
            <td><a th:text="Edit" th:href="@{updateUser/{userId}(userId=${user.getId()})}"></a>&nbsp;|&nbsp;
                <a th:text="Delete" th:href="@{deleteUser/{userId}(userId=${user.getId()})}"></a>
            </td></tr>
    </th:block>
</table><br><br>
<a th:href="user-create"><input type="button" id="addB" value="Add "></a>
</body>
</html>