<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавить нового пользователя</title>

</head>
<body>
<h1>Add </h1><br>
<form action = "#" th:method="post" th:action="@{/user-create}" th:object="${user}" >
  <table>
    <tr><td>Name</td><td><input th:type="text" th:field="*{name}" required  class="data"></td></tr>
    <tr><td>Last name</td><td><input th:type="text" required th:field="*{lastName}" class="data"></td></tr>
    <tr><td>Age</td><td><input th:type="text" required  th:field="*{age}" class="data"></td></tr>
    <tr><td colspan="2" height="20px"></td></tr>
    <tr style="text-align: right;"><td colspan="2"><input type="submit" value="Save User" id="saveButton"/>&nbsp;&nbsp;&nbsp;<a th:href="@{/}">Cancel</a></td></tr>
  </table><br>
</form>
</body>
</html>